header {
    position: relative;
    /* 确保子元素可以相对于header定位 */
    padding: 10px;
    /* 根据需要添加内边距 */
    /* 其他样式... */
}

@media (prefers-color-scheme: light) {
    .cal_option {
        background-color: rgb(239, 239, 239);
        border-width: 1px;
    }

    .cal_option:active {
        background-color: darkgrey;
        transform: translateY(2px);
    }

    .selected_btn {
        background-color: lightgray;
    }
    /* 亮色模式下的样式 */
    body,
    header,
    footer,
    nav,
    section,
    article,
    select,
    input {
        background-color: #f8f8f8;
        color: #333;
        /* padding: 20px;
        margin: 10px;
        border-radius: 5px; */
    }
}

@media (prefers-color-scheme: dark) {

    body,input,select,div{
        background-color: #000;
        color: #fff;
    }
    .cal_option {
        background-color: black;
        color:white;
        border-width: 1px;
        border-color: white;
    }
    /* hover是悬停 */
    .cal_option:hover {
        background-color:rgb(56, 56, 56);
        color: white;
     
    }
/* active是按下后但是没有松开的状态 */
    .cal_option:active {
        background-color:#333;
    }
    .selected_btn {
        background-color: rgb(81, 81, 81);
    }


}

.top-right-buttons {
    position: absolute;
    top: 10px;
    /* 距离顶部的距离 */
    right: 10px;
    /* 距离右侧的距离 */
    display: flex;
    /* 使用Flexbox来水平排列按钮 */
}

.top-right-btn {
    /* 按钮样式 */
    background-color: #3498db;
    border: none;
    color: white;
    padding: 5px 10px;
    margin-left: 5px;
    /* 如果有多个按钮，添加左边距 */
    cursor: pointer;
    /* 其他样式... */
}

.top-right-btn:hover {
    background-color: #2980b9;
    /* 鼠标悬停时的背景色 ，会变得更深*/
}

body {
    font-family: Arial, sans-serif;
}


.container {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
}

#MonthlyPayment {
    display: none;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* 新的样式 */
.input-with-select {
    display: flex;
    align-items: center;
    /* 垂直对齐子元素 */
    width: 100%;
    /* 与其他输入框相同的宽度 */
}

.input-with-select .number-input {
    flex: 1;
    /* 占据剩余空间，与其他输入框的宽度相匹配 */
    margin-right: 12px;
    /* 可选，增加一些间距 */
}

.input-with-select .select-box {
    /* 你可以根据需要设置选择框的宽度，但通常它会根据内容自动调整 */
    padding: 8px;
    /* 可选，为了与其他输入框的样式一致 */
    border: 1px solid #ccc;
    border-radius: 2px;
    /* 注意：不要设置宽度为 100%，否则它会占据整个容器的宽度 */
}
#result {
    margin-top: 20px;
    font-weight: bold;
}

label {
    display: block;
}

select {
    display: block;
    font-size: medium;
}

#calculate_button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#calculate_button:hover {
    background-color: #45a049;
}